.container {
    padding: 80px 120px;

}

#bg-1 .container {
    display: inline-block;
}


/* Remove rounded borders on input fields */
.form-control {
    border-radius: 0;
}

/* Disable the ability to resize textareas */
textarea {
    resize: none;
}


.row {
    text-align: center;
    font-size: x-large;
}

.subject {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.subject:hover {
    border-color: #f1f1f1;
}

.row {
    font-family: "Tahoma";
    font-size: small;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/* Adding a very dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: black;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 4px;
    opacity:0.9;
    vertical-align: center;
}


/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}


.navbar-header li {
    border-color: yellow;
    padding: 5px;

}

h1 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}



/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    margin: 30px;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}

.bg-1 img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

.bg-1 h3 {
    font-size: large;

}
/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

textarea {
    font-family:sans-serif;
    font-size:1.2em;
    text-align: left;
}


/* Add a dark background color to the footer */
footer {
    background-color: black;
    color: #f5f5f5;
    padding: 32px;
}

.text-center a {
    color: #f5f5f5;
}

.text-center p {
    font-size: large;

}



footer a:hover {
    color: #777;
    text-decoration: none;
}


/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}

.artViewer {
    font-size: xx-large;

}




/** STYLINGS FOR THE ARTICLE PAGE */


body, html {
    height: 100%;
    margin: 0;
    font: 500 16px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.6%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("Resources/imageBackgroundTechnology1.jpg");
    min-height: 40%;

}

.bgimg-2 {
    background-image: url("Resources/imageBackgroundBusiness1.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("Resources/imageBackgroundPolitics1.jpg");
    min-height: 250px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 30px "Lato", sans-serif;
    font-style: inherit;
    color: #111;
}

h6 {

    text-transform: uppercase;
    font: 16px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.resizable-input {
    /* make resizable */
    overflow-x: hidden;
    resize: horizontal;
    display: inline-block;

    /* no extra spaces */
    padding: 0;
    margin: 0;
    white-space: nowrap;

    /* default widths */
    width: 10em;
    min-width: 2em;
    max-width: 30em;
}

.avatar {
    height: 50px;
    border-radius: 50px;
}

/*STYLING THE ARTICLE VIEW PAGE MODIFYING THE COMMENT BOX*/

.detailBox {
    width:400px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color: dodgerblue;
    padding:10px;
}
.titleBox label{
    color:WHITE;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:98%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:Tahoma;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.form-control {
    height: 50px;
    font-size: large;

}

.form-inline {
    width: auto;
}


.form-group {
    height: 70px;
}